div.colorBar
  //- script(src="/assets/images/colorTransform.js")

div.pos-f-t

  div.collapse#navbarToggleExternalContent
    div.bg-dark.p-4
      h5.text-white.h4 The TriAge Program
      span.text-muted Welcome to TriAge's internal site!
      br
      br
      h4.text-white.h5 Membership Benefits:
      
      p.text-white.h7.

        • Online advocates to help you. Trained peer support volunteers to help in times of need.
      
      p.text-white.h7.

        • Homelessness Resource Listings for local community housing, healthcare and employment services.
      
      p.text-white.h7.

        • TriAge Challenge, a personalized healthcare program to improve your health.

      p.text-white.h7.

        • The TriAge Peer Training Program, for peer support volunteers.

  nav.navbar.navbar-dark.bg-dark
    button.navbar-toggler.text-white(type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
      span Inside TriAge
    span
      img( src="/assets/images/logos/facebook.png" width=25)
      span &nbsp
      img( src="/assets/images/logos/twitter.png" width=25)
      span &nbsp
      img( src="/assets/images/logos/instagram.png" width=40)
    
  