div.pos-f-t
  div.collapse#navbarToggleExternalContent
    div.bg-dark.p-4
      h5.text-white.h4 Community Peer Support Services
      span.text-muted We provide healthcare advocacy for the homeless.
      br
      br
      h4.text-white.h5 Homelessness Defined:
      p.text-white.h7.
        
        • Resided in a shelter or place not intended as a home and is now leaving an institution where he or she temporarily resided.

      p.text-white.h7.
        • Is losing his or her housing in 14 days or fewer; cannot obtain housing through his or her support networks or other resources.

      p.text-white.h7.      
        • Has, at some point, lacked independent permanent housing for a long period of time; has moved frequently; and is likely to continue doing so as a result of physical disability, mental disorder, addiction, or other barrier.
        
      p.text-white.h7.
        • Has experienced domestic violence, sexual assault, and/or other dangerous or life threatening conditions in a housing situation that he or she is leaving.

      p.text-white.h7.
        • Is an unaccompanied youth who is homeless.

      p.text-white.h7.
        HUD (2001) defines a person who is chronically homeless as “an unaccompanied homeless individual with a disabling condition who has either been continuously homeless for a year or more OR has had at least four [4] episodes of homelessness in the past three [3] years”.

      p.text-white.h7.
        Unaccompanied individuals who are homeless are men and women not accompanied by children or a partner. Disabling conditions include mental disorders, substance use disorders, and medical conditions.

  nav.navbar.navbar-dark.bg-dark
    button.navbar-toggler.text-white(type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
      span Homelessness Defined
    span
      img( src="/assets/images/logos/facebook.png" width=25)
      span &nbsp
      img( src="/assets/images/logos/twitter.png" width=25)
      span &nbsp
      img( src="/assets/images/logos/instagram.png" width=40)

