div.bar.border.section
  button.btn#appmlbtn_first &#10094 &#10094
  button.btn#appmlbtn_previous &#10094
  button.btn.text-muted#filterBtnText
  button.btn#appmlbtn_next &#10095
  button.btn#appmlbtn_last &#10095 &#10095
  button.btn.btn-success#filter-btn(type="button" data-toggle="modal" data-target="#filterModal") Filter

  //- button.btn.btn-primary.btn-lg#register-btn(type="button" data-toggle="modal" data-target="#registerModal") Registration