nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.text-white
    span
        img(src="/assets/images/logos/logo.jpg" alt="logo" height= 60)
        a.navbar-brand(href="/") TriAge Project
    
    span
        button.btn.btn-dark.btn-outline-secondary.text-white.mr-3(onclick="darkToggle()") Dim
       
        button.navbar-toggler(
            type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"  aria-expanded="false" 
            aria-label="Toggle navigation")
            span.navbar-toggler-icon

    div.collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto

            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#" #navbarDropdown role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Home
                    span.sr-only (current)
            
                div.dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="/") Home
                    hr
                    a.dropdown-item(href="/loginMember") Login
                    a.dropdown-item(href="/registerMember") Register

            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Projects

                div.dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="/triage-project-az-phoenix") Phoenix
                    a.dropdown-item(href="/triage-project-az-tucson") Tucson 

            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#" #navbarDropdown role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") About Us
                    
                div.dropdown-menu(aria-labelledby="navbarDropdown") 
                    a.dropdown-item(href="/company-profile") Profile
                    a.dropdown-item(href="/company-events") Events

            li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") In The News

                div.dropdown-menu(aria-labelledby="navbarDropdown")
                    a.dropdown-item(href="/local-news") Local
                    a.dropdown-item(href="/national-news") National        
