extends layout.pug

block append section 

  div.container-fluid

    div.jumbotron

      h1.display-4 Welcome to the TriAge Project
      
      p.lead Programs providing advocacy for the homeless.
      hr.my-4

      p When you’re homeless it’s difficult to stay healthy.

      p When you’re sick it’s hard to get back on your feet financially.

      p When you’re experiencing mental illness or a substance use disorder, it’s a challenge to survive.

      div
        a.btn.btn-primary.btn-lg(href="/loginMember") Login

        a.btn.btn-primary.btn-lg(href="registerMember") Register
        
        br
        a.btn.btn-primary.btn-lg(href="seed/install") Installation (Remove after installation)
      
      p If this is your first visit please register to enter.


  