block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S3cQ3)
    h3 Improving Your Health
    p Student Id: #{ student_id }
    br
    h3 Physical Activity Questions
    br
    h4 Question 3 of 4
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question I currently enjoy the following physical activities by myself:
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS3cq3/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="3c" hidden)
      input(type="text" name="questionTitle" value="S3cQ3" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q3" hidden)
      input(type="text" name="questionText" value="I currently enjoy the following physical activities by myself:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 3 of 4")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br

