block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S8d)
    p Student Id: #{ student_id }
    br
    h3 Key 1
    br
    h3 APPLYING THE IMPACT CRITERIA
    p A goal is something we want and that we are willing to work for because we want the benefits. It is the potential benefits that motivate us. Therefore, the more you can get the goal statement to incorporate the potential benefits, the more impact the statement will have on the person’s motivation and ability to accomplish the goal.

    p Often the initial goal is stated in a way that the support person will not know it has been accomplished without being told that it has.
      ul
        li Example – “I want to feel better.” Or it may be stated negatively as something a person wants to stop doing, avoid, or eliminate from their life.
        li Example – “I want to quit smoking.” Or it may be stated as something a person wants immediately rather than something that requires numerous actions to accomplish.
        li Example — “I want to exercise five days a week.”

    p If the initial goal statement does not meet the IMPACT criteria, it is helpful to relate it to the benefits by asking the following questions
      ul
        li Why do you want this?
        li What will the benefits be?
        li How will your life be different if you accomplish this goal?
        li If you accomplish this goal, what will you be able to do that you can’t, or aren’t, doing now?

    p When these questions are asked, the new goal statement gets related to the benefits and leads to actions that the person can take to accomplish the goal.

    h3 IMPACT Criteria Questions About Goals

    ul 
      li I: Does it Improve the quality of my health and resiliency? 
      li M: Is it Measurable in terms of my supporter knowing if I have accomplished it?
      li P: Is it Positively stated as something new I want in my life? 
      li A: Is it Achievable for me in my present situation and with my current abilities?
      li C: Does it Call forth actions that I can take on a regular basis to begin to create healthy habits?
      li T: Is it Time limited in terms of when I will begin and when I plan to accomplish it?