block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S5a)
    h3 Maintaining a Positive Attitude
    br
    p “Optimism Based on Positive Expectations” and “Cognitive Skills to Avoid Negative Thinking” both have to do with one’s attitude. The first has to do with attitude toward the future and the second with attitude toward oneself.
    p Essential to the strength-based recovery movement for mental illness and addiction is a sense of personal hope that one’s life can be better and growing awareness that peer support can foster hope.
    p Hope supports maintaining a positive attitude, and emerging research demonstrates its impact on whole health and resiliency. In a Duke University study of 2,800 heart patients, those with optimistic expectations about their recovery were found 30% less likely to die over the next 15 years than patients with less optimistic expectations, regardless of the severity of their heart disease.i
    p Charles Swindoll, in his article on attitude, states, “The longer I live, the more I realize the impact of attitude on life. Attitude, to me, is more important than facts.
    p “It is more important than the past, than education, than money, than circumstances, than failures, than successes, than what other people say or do.
    p “It is more important than appearances, giftedness, or skills.
    p “It will make or break a company… a church… a home…
    p “I am convinced that life is 10% what happens to me and 90% how I react to it.
    p You’ve probably heard quotes such as, “Attitude is everything,” “Your attitude determines your altitude,” or Henry Ford’s famous one, “Whether you think you can or can’t, you are probably right.” These sentiments refer to the human ability to be consciously hopeful or optimistic about the future to avoid or shift away from negative thinking about oneself and one’s situation.
    p Health consultant and writer Martha Beck states, “Your situation may endanger your life and limbs, but only your thoughts can endanger your happiness.”
    p Happiness involves having gratitude for the past, enjoying the present, and being optimistic about the future. Telling a miserable story about one’s situation creates suffering. Telling oneself a more positive and grateful story increases happiness.