block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Peer Training
    h2 Health Risk, Screening, and Shared Decision-Making (S7a)
    h3 Health Risk
    p For better whole health self-management, this session focuses on health risk, screening, and shared decision-making.
    p People living with mental illnesses and addictions are at greater risk than the general population for dying early or experiencing life-altering conditions such as cardiovascular disease, diabetes, hepatitis, or Acquired Immune Deficiency Syndrome (AIDS).
    p The Medical Directors Council of the National Association of State Mental Health Program Directors released a report in October 2006 that states “People with serious mental illness served by the public mental health system die, on average, 25 years earlier than the general population.” 
    p The report, Morbidity and Mortality in People with Serious Mental Illness, says that increased morbidity (illness) and mortality (death) are largely due to preventable conditions such as metabolic disorders, cardiovascular disease, and diabetes. 
    p Preventable health risk factors include: obesity, smoking, substance abuse, and inadequate access to medical care. 
    p The report also states that some psychiatric medications contribute to the risk.