block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S3c)
    h3 Improving Your Health
    br
    p Usually diet, exercise, and sleep are the first things called to mind when considering health. In the WHAM training, these are referred to as “Healthy Eating.” “Physical Activity,” and “Restful Sleep.”
    br
    h3 Physical Activity
    p It seems like a new book is published everyday that touts the merits of a particular exercise program. However, there are many simple ways to increase activity level during the day without having to suit up and go to the gym.
    p For example, walking can be a great, low-impact exercise with numerous health benefits. A person could choose to walk a pet, walk around the block or through the apartment complex when checking the mail.
    p A person can get involved in active and fun recreational activities like hiking, bike riding, gardening, dancing, etc. Take a walk while on the cordless phone, take the stairs instead of the elevator, get off the bus a stop early and walk the rest of the way, or park farther away in the parking lot.
    p A pedometer can count steps and help increase the number of steps taken each week. Or go to the local community center gym – it can feel empowering and motivating to join others in a setting that promotes optimum physical health.