block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S3dQ4)
    h3 Improving Your Health
    p Student Id: #{ student_id }
    br
    h3 Restful Sleep Questions
    br
    h4 Question 4 of 5
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question I have learned that I usually do not sleep well if I do these things before I go to bed, or if these things happen before I go to bed:
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS3dq4/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="3d" hidden)
      input(type="text" name="questionTitle" value="S3dQ4" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q4" hidden)
      input(type="text" name="questionText" value="I have learned that I usually do not sleep well if I do these things before I go to bed, or if these things happen before I go to bed:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 4 of 5")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br

