block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S6bQ3)
    h3 Connecting With that Which Is More than Self
    p Student Id: #{ student_id }
    br
    h3 Spiritual Beliefs and Practices Questions
    br
    h4 Question 3 of 4
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question I find these spiritual or religious practices to be very important and sustaining in my life:
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS6bq3/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="6b" hidden)
      input(type="text" name="questionTitle" value="S6bQ3" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q3" hidden)
      input(type="text" name="questionText" value="I find these spiritual or religious practices to be very important and sustaining in my life:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 3 of 4")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br