block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S8cQ7)
    p Student Id: #{ student_id }
    br
    h3 Key 1
    br
    h4 Question 3 of 3
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question Taking all of this into consideration and using the following three element formula, my whole health and resiliency goal is:
    p
      b Element 3.)
    p 
      b By (recommend 8-week time period to coincide with Peer Support meetings)
    br
    p#answer Answer below:
    form(action="/secureMainPeerTrainingModulesS8cq7/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8c" hidden)
      input(type="text" name="questionTitle" value="S8cQ7" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q7" hidden)
      input(type="text" name="questionText" value="By (recommend 8-week time period to coincide with Peer Support meetings)" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="3 of 3")
      br
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br