block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S8cQ5)
    p Student Id: #{ student_id }
    br
    h3 Key 1
    br
    h4 Question 1 of 3
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question Taking all of this into consideration and using the following three element formula, my whole health and resiliency goal is: 
    p
      b Element 1.)
    p 
      b In order to (explain why I want to achieve the goal)
    br
    p#answer Answer below:
    form(action="/secureMainPeerTrainingModulesS8cq5/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8c" hidden)
      input(type="text" name="questionTitle" value="S8cQ5" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q5" hidden)
      input(type="text" name="questionText" value="In order to (explain why I want to achieve the goal)" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="1 of 3")
      br
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br