block append section

  section.container-2
    //- section
    //- link(rel="stylesheet" href="/assets/games/Pong/style.css")
    //- section.container-2
    //- canvas#myCanvas(style="width:150vw, height:150vh")
    canvas#myCanvas(width="500" height="320")
    //- canvas#myCanvas(style="width:480, height:320")
    script(src="/assets/games/Pong/pong.js")
    //- script(src="../../games/Pong/pong.js" defer)