block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S4bQ4)
    h3 The Power of Human Connection
    p Student Id: #{ student_id }
    br
    h3 Service to Others Questions
    br
    h4 Question 4 of 4
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question What are 3-5 things a person might start doing on a regular basis to provide more service to others?
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS4bq4/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="4b" hidden)
      input(type="text" name="questionTitle" value="S4bQ4" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q4" hidden)
      input(type="text" name="questionText" value="What are 3-5 things a person might start doing on a regular basis to provide more service to others?" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 4 of 4")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br

