block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S4aQ1)
    h3 The Power of Human Connection
    p Student Id: #{ student_id }
    br
    h3 Questions
    br
    h4 Question 1 of 1
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question How has service to others and having a support network helped you relative to your mental health, addition, and overall health and wellness?
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS4aq1/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="4a" hidden)
      input(type="text" name="questionTitle" value="S4aQ1" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q1" hidden)
      input(type="text" name="questionText" value="How has service to others and having a support network helped you relative to your mental health, addition, and overall health and wellness?" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 1 of 1")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br

