block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S5br)
    h3 Optimism Based on Positive Expectations
    p Student Id: #{ student_id }
    br
    h4.text-center Review
    br
    h3.text-center 7A
    p#question If I decide it is important to develop a more 
      a(href="#") optimistic attitude
      span  about the future in order to improve my health and resiliency, I could do the following:
    br
    p#answer (Make sure it is something you are currently not doing, can do, and think you might enjoy.)
    form(action="/secureMainChallengeModulesS5br/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge PT" hidden)
      input(type="text" name="questionModule" value="5b" hidden)
      input(type="text" name="questionTitle" value="S5br" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="7A" hidden)
      input(type="text" name="questionText" value="If I decide it is important to develop a more optimistic attitude about the future in order to improve my health and resiliency, I could do the following:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 7A")
      br
      br
      h3.text-center 7B
      p#question The benefit of doing this would be:
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge PT" hidden)
      input(type="text" name="questionModule" value="5b" hidden)
      input(type="text" name="questionTitle" value="S5br" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="7B" hidden)
      input(type="text" name="questionText" value="The benefit of doing this would be:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 7B")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
      br
    br
 
