block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  link(rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css")
  section.container-2

    h1 Bouncing Balls
    p Ball Count 
      span#displayNum 0
    canvas
    script(src="/assets/games/BouncyBall/bouncyball.js")