block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S3cr)
    h3 Improving Your Health
    p Student Id: #{ student_id }
    br
    h4.text-center Physical Activity 
    h4.text-center Review
    br
    h3.text-center 3A
    p#question If I decide it is important to engage in more 
      a(href="#") physical activity
      span  in order to improve my health and resiliency, I could do the following to accomplish that:
    br
    p#answer (Make sure it is something you are currently not doing, can do, and think you might enjoy.)
    form(action="/secureMainChallengeModulesS3cr/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge PT" hidden)
      input(type="text" name="questionModule" value="3c" hidden)
      input(type="text" name="questionTitle" value="S3cr" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="3A" hidden)
      input(type="text" name="questionText" value="If I decide it is important to engage in more physical activity in order to improve my health and resiliency, I could do the following to accomplish that:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 3A")
      br
      br
      h3.text-center 3B
      p#question The benefit of doing this would be:
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge PT" hidden)
      input(type="text" name="questionModule" value="3c" hidden)
      input(type="text" name="questionTitle" value="S3cr" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="3B" hidden)
      input(type="text" name="questionText" value="The benefit of doing this would be:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 3B")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
      br
    br
 
