block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S9c)
    p Student Id: #{ student_id }
    br
    h3 Key 3
    h3 Personal Weekly Action Plan
    br
    p Once you’ve created an action plan, the question arises as to whether you will implement it. The Confidence Scale is used to increase the likelihood of success. 
    p Continued success — even in small doses — increases one’s self confidence and the desire to set and accomplish more goals. It works like this: you decide how confident you are about the weekly action plan, using a scale of 0-10 (0 = no confidence and 10 = total confidence).
    p 
      b The Confidence Scale 
      span score should be 7 or higher. You can increase the number by lessening the actions (the “how many” and the “how much”), by identifying and removing barriers, and/or by increasing the support.
    p For example, you may initially plan to walk 1 mile a day on 5 days during the next week, but you’ve selected a score of only 5 on the Confidence Scale. To increase the Confidence Scale score to 7 or above, you could choose to reduce the planned walking distance and/or the number of days you will walk. Or you can choose to ask for certain supports such as asking someone to phone you with a reminder, or to walk with you.
    p 
      b A daily/weekly personal log 
      span is simply a way of keeping a record of what you actually do each week in relation to your weekly action plan. It is important early on that the peer leader, the peer, and the peer support group work out a simple and doable way of keeping a daily/weekly log to be reported each week at the support group. For your convenience there is a space provided in the Weekly Action Plan Pocket Guide in the next section to log your daily/weekly progress.
    