block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2(style="overflow:hidden")
    h2 TriAge Challenge Education (S3d)
    h3 Improving Your Health
    br
    p Usually diet, exercise, and sleep are the first things called to mind when considering health. In the WHAM training, these are referred to as “Healthy Eating.” “Physical Activity,” and “Restful Sleep.”
    br
    h3 Restful Sleep
    p Restful sleep is another important health issue. While many articles and news reports point to the increased incidence of sleep deprivation, not all people know how to counteract it. It is unhealthy to go without needed sleep. Sleep deprivation significantly affects health.
    p Long-term, untreated sleep-deprivation is associated with many illnesses, including high blood pressure, heart attack, heart failure, stroke, obesity, and mental health problems.