block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S10a)
    p Student Id: #{ student_id }
    br
    h3 Key 4
    h3 One-to-One Peer Support
    br
    p Supporting peers outside of the support group is very important. Ideally, this is contact that occurs between the weekly support group meetings. There are two ways this can be done.
      ul 
        li The first involves the peer leader who is leading the support group to contact each participant between meetings. 
        li The second occurs during the support group meeting when each peer selects a peer to be the support person for the next week and make contact between meetings.
    p The first procedure is recommended for the first few weeks of the group meetings.
    p However the peer support is structured, the peer supporter makes arrangements to contact his or her peer 2-4 days after the support group meets. This can be in person or by phone. The peer supporter asks how the other person is doing in relation to the action plan and log.
    p If the other person is doing OK, the peer supporter expresses appreciation and encouragement to attend the next support group meeting. If the other person is not doing well, the peer supporter asks how to help.