block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S3cQ1)
    h3 Improving Your Health
    p Student Id: #{ student_id }
    br
    h3 Physical Activity Questions
    br
    h4 Question 1 of 4
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question The following are, or have been, some of my favorite physical activities:
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS3cq1/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="3c" hidden)
      input(type="text" name="questionTitle" value="S3cQ1" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q1" hidden)
      input(type="text" name="questionText" value="The following are, or have been, some of my favorite physical activities:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 1 of 4")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br

