block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S6aQ2)
    h3 Connecting With that Which Is More than Self
    p Student Id: #{ student_id }
    br
    h3  Questions
    br
    h4 Question 2 of 2
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question How have they helped you weather the storms of life?
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS6aq2/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="6a" hidden)
      input(type="text" name="questionTitle" value="S6aQ2" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q2" hidden)
      input(type="text" name="questionText" value="How have they helped you weather the storms of life?" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 2 of 2")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br