block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S10b)
    p Student Id: #{ student_id }
    br
    h3 Key 5
    h3 Weekly Peer Support Group
    br
    p The weekly peer support group is foundational to the success of the WHAM process. Here are suggested guidelines for conducting a group:
      br
      ol 
        li All group participants should be working on a health goal and have agreed to use the 5 Keys to Success.
        li The group can be facilitated by any one of its members. If it is facilitated by a peer leader, the peer leader must meet the criteria of guideline #1 above. 
        li During the first group meeting a “comfort contract” that group members agree on should be created to serve as the group’s rules of conduct. (Please note: a sample comfort contract is provided as a training handout.)
        li The meeting follows this format:
          p a) The leader welcomes everyone, opens with a short Relaxation Response exercise, and leads the discussion for that week.
          p b) The leader shares his or her weekly action plan and the associated activities from the past week using the personal log as a reference.
            ul 
              li If the action plan was accomplished, the group celebrates the accomplishment(s) and moves to the next person.
              li If the action plan was not accomplished, a group member asks what the barriers were and what could be done next week to help succeed, and if the person wants suggestions from group members who have struggled with the same situation.
              li After brainstorming	suggestions,	recommend that the person choose what may be helpful to be used next week.
          p c) Move to the next person and repeat the above process.
          p d) After everyone has had a chance	 to share, the focus shifts to the next week. Starting again with the leader, each person shares his or her action plan for the next week.
            ul 
              li Using the Confidence Scale each person states his or her confidence in relation to accomplishing the actions. If a person’s	Confidence Scale ranking  seven	or above, move to the next person. If it is less than seven, the group works with the person to get the Confidence Scale ranking to a score of seven or higher.
              li Decide who will be the support peer for that person for the next week.
          p e) After everyone has a chance to participate, check to see if someone would like to share anything else in closing. Remember that	 this is a whole health support group and that should be the focus. Other issues and concerns can be dealt with after the group meeting is over.