block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    br
    h2 APPENDIX MATERIALS (S10d)
    p Student Id: #{ student_id }
    br
    ol
      li My Plate
        p Web site: 
          a(href="#")
            //- a(href="/www.choosemyplate.gov/")
            span www.choosemyplate.gov 
        p My Plate is the current nutrition guide published by the U.S. Department of Agriculture, depicting a plate and glass divided into five food groups. It replaced the USDA’s MyPyramid guide on June 2, 2011, ending 19 years of USDA food pyramid diagrams.
      li Mental Health America Live Your Life Well
        p Web site: 
          a(href="#") 
            //- a(href="/www.liveyourlifewell.org/")
            span www.liveyourlifewell.org 
        p The website designed to help you cope better with stress and create more of the life you want.
      li NAMI’s Hearts and Mind: A Roadmap to Wellness
        p Web site: 
          a(href="#")
            //- a(href="/www.nami.org/Content/NavigationMenu/Hearts_and_ Minds/FINALfinalRoadmaptoWellness.pdf/")
            span www.nami.org/Content/NavigationMenu/Hearts_and_ Minds/FINALfinalRoadmaptoWellness.pdf [PDF Format - 653 Kb]  
        p An interactive online educational initiative promoting the idea of wellness in mind and body.
      li BMI — Body Mass Index Department of Health and Human Services (DHHS), Centers for Disease Control and Prevention (CDC), National Center for Chronic Disease Prevention and Health Promotion
        p Web site: 
          a(href="#")
            //- a(href="/www.cdc.gov/nccdphp/dnpa/bmi/index.htm/")
            span www.cdc.gov/nccdphp/dnpa/bmi/index.htm 
        p Provides a definition for BMI, as well as separate BMI calculators for adults, children, and teens. Additional nutrition, weight, and health resources are also available.
      li Weight-Control Information Network DHHS, National Institutes of Health (NIH), National Institute for Diabetes and Digestive and Kidney Diseases (NIDDK)
        p Web site: 
          a(href="#") 
            //- a(href="/win.niddk.nih.gov/index.htm/")
            span win.niddk.nih.gov/index.htm 
        p Provides the general public, health professionals, the media, and Congress with up-to-date, science-based information on weight control, obesity, physical activity, and related nutritional issues.
      li Americans Consume Too Many Calories from Solid Fat, Alcohol, and Added Sugar, U.S. Department of Agriculture (USDA), Center for Nutrition Policy and Promotion Nutrition Insight 33, June 2006.
        p Web site: 
          a(href="#") 
            //- a(href="/www.cnpp.usda.gov/Publications/NutritionInsights/ Insight33.pdf/")
            span www.cnpp.usda.gov/Publications/NutritionInsights/ Insight33.pdf 
        p Describes the amounts of discretionary calories (from all sources of solid fat, alcohol, and added sugar) consumed by Americans.
      li From Wallet to Waistline: The Hidden Costs of Super Sizing National Alliance for Nutrition and Activity (NANA)
        p Web site: 
          a(href="#") 
            //- a(href="/www.cspinet.org/w2w.pdf/")
            span www.cspinet.org/w2w.pdf 
        p Summarizes the true costs of super sizing portions and focuses on the fact that bigger is not necessarily better. Nutrient analysis tables are also included.
      li Healthy Body Calculator Ask the Dietitian - Joanne Larsen, MS, RD, LD
        p Web site: 
          a(href="#") 
            //- a(href="/www.dietitian.com/calcbody.php/")
            span www.dietitian.com/calcbody.php 
        p Calculates body mass index (BMI) and provides information on nutrient composition, body shape, and corresponding disease risk. This web site also provides personalized activity suggestions for weight loss.
      li HealthyDiningFinder.com Healthy Dining
        p Web site: 
          a(href="#") 
            //- a(href="/www.healthydiningfinder.com/")
            span www.healthydiningfinder.com 
        p Searches for healthier meals at restaurants ranging from fast food to fine dining. Includes information such as calories, fat, and sodium.
      li How Active Are You? Calorie Calculator Center for Science in the Public Interest
        p Web site: 
          a(href="#")
            //- a(href="/www.cspinet.org/nah/09_03/calorie_calc.html/")
            span www.cspinet.org/nah/09_03/calorie_calc.html 
        p Projects targeted calorie intake determined by a person’s gender, age, height, weight, and activity level.
      li Interactive Menu Planner DHHS, NIH, NHLBI, Obesity Education Initiative
        p Web site: 
          a(href="#") 
            //- a(href="/hp2010.nhlbihin.net/menuplanner/menu.cgi/")
            span hp2010.nhlbihin.net/menuplanner/menu.cgi 
        p Guides daily food and meal choices based on a person’s daily calorie needs.
      li Make Your Calories Count: Use the Nutrition Facts Label for Healthy Weight Management Food and Drug Administration (FDA), Center for Food Safety and Applied Nutrition
        p Web site: 
          a(href="#") 
            //- a(href="/www.cfsan.fda.gov/~ear/hwm/labelman.html/")
            span www.cfsan.fda.gov/~ear/hwm/labelman.html 
        p Interactive learning program that provides users with information to help plan a healthy diet while managing calorie intake.
      li InSHAPE
        p Web site: 
          a(href="#") 
            //- a(href="/www.mfs.org/services/inshape/inshape/")
            span www.mfs.org/services/inshape/inshape 
        p InSHAPE is a wellness program for individuals with mental illness.  The goal of InSHAPE is to improve physical health and quality of life, reduce the risk of preventable diseases, and enhance the life expectancy of individuals with serious mental illness.
      li ACE STUDY
        p Web site: 
          a(href="#") 
            //- a(href="/www.acestudy.org/")
            span www.acestudy.org 
        p The ACE Study is an ongoing collaboration between the Centers for Disease Control and Prevention and Kaiser Permanente. It is perhaps the largest scientific research study of its kind, analyzing the relationship between multiple categories of childhood trauma or adverse childhood experiences (ACEs) and health and behavioral outcomes later in life.