block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Peer Training
    h2 Health Risk, Screening, and Shared Decision-Making (S7c)
    h3 Health Screening Resources
    p 
      b Primary Care Visits 
      span – Most people receive health screenings from their primary care doctor during annual physicals. Of course, many people with ongoing health conditions see their doctor more frequently, and the doctor may not set aside a specific visit for an “annual physical.”
    p During these meetings, a person should get his or her height, weight, waist circumference, blood pressure, blood glucose, cholesterol, and triglycerides tested. Many tests are done via blood work, and some people may need to go to a lab in order to get blood taken. 
    p 
      b Health Fairs 
      span – Many hospitals, health communities, schools, and other public health efforts offer health screenings in the community. These events often offer limited screening areas and do not typically offer blood tests. Typical screenings related to Metabolic Syndrome include height, weight, waist circumference, and blood pressure. Some other kinds of screenings may also be included. While these events may not offer all areas of Metabolic Syndrome testing, they can be a source of information. Many health fairs also offer a variety of health products that can be motivational, such as pedometers and stress balls.      
    p 
      b Mental Health and Addiction Services 
      span can play a role in getting people access to health screening in a variety of ways.
      ul
        li Psychiatrists and other clinicians are increasingly paying attention to weight gain and other physical health factors in their practices. 
        li Mental health and addiction centers may have nursing staff who can take a blood pressure reading or help with other health screenings. 
        li Peer support/self-help groups and facilities can provide health screening access in various ways, such as bringing a nurse in to do screenings, getting members to a health fair, etc.
        li Self-testing is done by the individual at home. Many of the health products needed to test one’s health are becoming more readily available to consumers. These products can often be found at a local health food store or drug store. Scales, measuring tapes, blood pressure machines, and blood glucose monitors can all be purchased at reasonable prices (health insurance may reimburse or discount these items).
    p Other things to consider in helping peers self-monitor their own health and risk factors or engaging them in health risk screenings:
      ul
        li Actions a person can take if findings are outside normal limits, including basic common lifestyle changes (e.g., increase physical activity, dietary changes, or reduction in simple carbohydrate consumption to lower triglycerides, etc.)
        li Ways to help people deal emotionally with abnormal findings (need for professional retest, treatability of conditions, etc.)
        li Importance of confidentiality of personal health information
        li Proper use of personal health records
        li Safety aspects of finger sticks (e.g., including use of sterile lancets, avoidance of contact with body fluids, and the importance of minimum necessary lancing depth)
        li A sense of “abnormal” test results versus “critical abnormalities” (e.g., systolic BP >200  or  FBG >400)
    p Other resources:
      ul
        li Mayo Clinic — 
          span 
          a(href="www.mayoclinic.com") www.mayoclinic.com 
          span — Online health screening guidelines sheet that is interactive and fun to use. 
        li Medline Plus — 
          span
          a(href="www.nlm.nih.gov") www.nlm.nih.gov 
          span — Health screening tests information page. 
        li National Council for Community Behavioral Healthcare — January 2011 — Staying Well: It’s as simple as your ABCs and D&E.
