block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Peer Training 
    h2 Keys to Success (S9b1)
    p Student Id: #{ student_id }
    br
    h3 Key 2
    h3 Weekly Action Plan
    h3 Practice
    br
    h3 Using the whole health goal that you just created, you will now practice creating a weekly action plan.
    br
    p This action plan needs to answer the following questions:
      ol 
        li What will you do?
        li How much will you do?
        li How often will you do it?
        li When will you do it?
    br
    p
      b SAMPLE ACTION PLAN
      br
      div.table
        table.table-active.table-dark.table-striped.table-bordered.table-hover.table-condensed
          tr 
            td 
              li Week
            td 
              textarea(type="textarea" rows="2" cols="14" maxlength="0")
          tr 
            td 
              li What?
            td 
              textarea(type="textarea" rows="2" cols="14" maxlength="0")
          tr 
            td 
              li How much?
            td 
              textarea(type="textarea" rows="2" cols="14" maxlength="0")
          tr 
            td 
              li How often?
            td 
              textarea(type="textarea" rows="2" cols="14" maxlength="0")
          tr 
            td 
              li When?
            td 
              textarea(type="textarea" rows="2" cols="14" maxlength="0")
          tr 
            td 
              li Confidence level?
            td 
              textarea(type="textarea" rows="2" cols="14" maxlength="0")
 
      br