block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  link(rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.css")
  section.container-2

    div.jumbotron

      h1.display-4 Welcome the the Pong Game
       
      if loggedIn 
        h2 #{ first_name } #{ name }
        h5 ID #{ id }
        
      p.lead As a volunteer corps we are only as good as the help we receive.
      hr.my-4

      p What are our needs?

      p Most of all we need you and your time.

      p If you don't have the time, you can donate.

      p If you can't donate, please tell your friends about us.

      p If you offer community services, please register below to join our network.

      p Call us at 800-555-5555 or chat with our peer support team online to learn more about how you can help.

      p.lead Please enjoy the game.
      
      div
        button.btn.btn-primary.btn-lg#helpOthers-btn(type="button")
          a.text-decoration-none.text-white(href="/triage-game-pong/" + id) Pong

