block append section

  section.container-2
    link(rel="stylesheet" href="/assets/games/CardGuessing/assets/CSS/styles.css")
    script(src="/assets/games/CardGuessing/assets/javascript/script.js" async)

    h6.page-title Mix-Or-Match
    div.overlay-text.visible Click
      p to Start
    
    div#game-over-text.overlay-text GAME OVER
      span.overlay-text-small Click to Restart
    
    div#victory-text.overlay-text VICTORY
      span.overlay-text-small Click to Restart
    
    div.game-container 
      div.game-info-container 
        div.game-info Time
          span#time-remaining 100
        
        div.game-info Flips
          span#flips 0
        
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Bat.png")

      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Bones.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Cauldron.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Dracula.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Eye.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Ghost.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Pumpkin.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Skull.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Bat.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Bones.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Cauldron.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
          
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Dracula.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Eye.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Ghost.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Pumpkin.png")
          
      div.card
        div.card-back.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/Cobweb.png")
          img.spider(src="/assets/games/CardGuessing/assets/Images/spider.png")
        
        div.card-front.card-face
          img.cob-web.cob-web-top-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-top-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-left(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.cob-web.cob-web-bottom-right(src="/assets/games/CardGuessing/assets/Images/CobwebGrey.png")
          img.card-value(src="/assets/games/CardGuessing/assets/Images/Skull.png")
