block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S2b)
    h3 Science of Stress
    br
    h3 Stress Response
    p Research has shown that prolonged stress has an adverse effect on one’s health. In order to understand this, it is necessary to understand three things:
    ol
      li Metabolism
      li Stressors
      li The Stress Response
    p Metabolism is the body’s chemical process of breaking down organic matter (food) into nutrients and energy that the body can use.
    p Stressors are events or thoughts that communicate danger to a person’s security, threaten the sense of wellbeing, or communicate loss of control.
    p The Stress Response, also known as the fight-or-flight response, is the body preparing to deal with the impending danger or stressor. As a person enters the Stress Response, the body experiences the following to get more energy to the large muscles and vital organs of the body:
    ul
      li Metabolism increases
      li Breathing speeds up
      li Heart beats faster
      li Blood pressure increases
      li Blood vessels constrict
      li Stress hormones like cortisol increases
    p If a person’s stressor is a saber-tooth tiger and that person flees to safety or fights to victory, the danger no longer exists. A person has burned most, if not all, of the energy that the body has produced and the body goes into a relaxation mode, which means:
    ul
      li Metabolism decreases
      li Breathing slows down
      li Heartbeat slows down
      li Blood pressure decreases
      li Blood vessels open-up
      li Stress hormones like cortisol decreases
    p But, what if the stressor is not a saber-tooth tiger? 
    br
    p What if the stressor is workplace demands that don’t go away?
    h3 WHAT HAPPENS THEN?
    p The body continues to produce extra energy because it thinks energy is needed to survive and expects the energy to burn up.
    h3 WHAT HAPPENS TO ALL THE ENERGY THAT IS NOT BURNED OFF BY FIGHTING OR FLEEING?
    p Much of the energy is held in the stress hormone called cortisol, which deposits fat deep in the abdomen. This type of fat is known as visceral fat, or the non-pinchable “belly fat,” which is not attributable to poor diet or lack of exercise, but rather to the effect of stress hormones on the body.
    p Research shows that visceral fat can be dangerous and is associated with increased risk for heart disease, diabetes, and some forms of cancer. Visceral fat also affects the function of the liver and weakens the immune system.
    h3 IS THERE A WAY TO COUNTER OR STOP THE STRESS RESPONSE WHEN WE ARE NOT ABLE TO FIGHT OR FLEE THE DANGER?
    p There is, and it is called “
      a(href="/triage-main-challenge-modules-s2c/" + id) The Relaxation Response
      span .”