block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S6a)
    h3 Connecting With that Which Is More than Self
    br
    p 
      em “Spiritual Beliefs and Practices”
      span  and 
      em “A Sense of Meaning and Purpose”
      span  seem to involve being connected with something that is more than “me.” Spirituality is often defined as a sense of connection that transcends individual experiences and unites the parts into a greater whole. For many people, spirituality, meaning, and purpose cannot be separated. For them, spirituality is the road to meaning and purpose.
    p Spirituality may include belief in a power that created and controls all of life. It may include a belief in the interrelatedness of all living creatures. It may be a feeling of unity or connection with nature.
    p For some, spirituality and spiritual beliefs may be very clear and concrete and spiritual practices may center around specific religious rites, rituals, and ceremonies. For others, spirituality and spiritual beliefs may be more vague and mysterious and held in experiences like the following — “At that moment I realized that I was not alone. My pain was the same pain that everyone else in the room had experienced. My shame was their shame. Their shame was my shame. My anger was their anger. Their anger was my anger. I was not alone. And whatever had seen me through all of this had seen them through, also. Whatever had sustained me had sustained them.”
    p Spirituality plays a major role in Alcoholics Anonymous 12-step program as seen in Step 11 — “Sought through prayer and meditation to improve our conscious contact with God as we understood him/her, praying only for knowledge of his/her will for us and the power to carry that out”— and Step 12 — “Having had a spiritual awakening as the result of these steps…” 
    p However, in this manual, spiritual beliefs and practices are defined as a sense of meaning and purpose that can play a crucial role in one’s ability to weather life’s storms. 