block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S1)
    h3 Introduction
    br
    p TriAge Education modules are based on the Whole Health Action Management (WHAM) Peer Support Training Participant Guide, published by the SAMHSA-HRSA Center for Integrated Health Solutions (CIHS) (
      a( href="#") www.integration.samhsa.gov
      span ), 2015.
    p The primary goal of the Challenge Education and Challenge modules is to teach skills to better self-manage chronic care physical health conditions, and mental illnesses and addictions — known as “behavioral health” — to achieve whole health. In the context of this training, whole health is defined as having a healthy mind and body.
    p 
      b Enter Here
      p and we will explore, with you, your strengths, like, interests, and what you see as possible for yourself, in regard to creating and self-managing a healthier lifestyle. Then we will help you identify the healthy habits you would like to add in your life. Once those are identified, we will work with you to create an action plan, using your strengths you identify, to develop new healthy habits. You will have the opportunity to meet weekly in a support group in the Challenge Training Module with your peers who are also working to improve and self-manage their whole health.
    p TriAge Challenge Education Modules uses a person centered planning process, covering 10 health and resiliency factors to help you create a concise whole health goal to begin the self-management process.
    p The Challenge Education Modules also focus on developing mind-body resiliency to promote self-management skills. The 
      a(href="#factors") 10 health and resiliency factors 
      span included are recommended by the Benson-Henry Institute for Mind-Body Medicine at the Massachusetts General Hospital, renowned for decades of research on promoting resiliency through stress reduction using the 
      a(href="/triage-main-challenge-modules-s2c/" + id) Relaxation Response
      span .
    p The Challenge Education Module, Science of Stress, teaches the Relaxation Response as an essential resiliency self-management skill with research demonstrating that it is as predictable as medication in immediately reversing the stress-induced fight-or flight response.
    p Mind-Body resiliency skills and engagement in the healing relationships of peer support are essential because of the growing awareness of the impact of trauma, especially childhood trauma, on all dimensions of health.
    h3#factors
      b Whole Health and Resiliency Factors
    ol
      li 
        a(href="/triage-main-challenge-modules-s2a/" + id) Stress Management
      li 
        a(href="/triage-main-challenge-modules-s3b/" + id) Healthy Eating
      li 
        a(href="/triage-main-challenge-modules-s3c/" + id) Physical Activity
      li 
        a(href="/triage-main-challenge-modules-s3/" + id) Restful Sleep
      li 
        a(href="/triage-main-challenge-modules-s4a/" + id) Service to Others
      li 
        a(href="/triage-main-challenge-modules-s4a/" + id) Support Network
      li 
        a(href="/triage-main-challenge-modules-s5a/" + id) Optimism Based on Positive Expectations
      li 
        a(href="/triage-main-challenge-modules-s5c/" + id) Cognitive Skills to Avoid Negative Thinking
      li 
        a(href="/triage-main-challenge-modules-s6a/" + id) Spiritual Beliefs and Practices
      li 
        a(href="/triage-main-challenge-modules-s6a/" + id) A Sense of Meaning and Purpose