block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S3bQ2)
    h3 Improving Your Health
    p Student Id: #{ student_id }
    br
    h3 Healthier Eating Questions

    h4 Question 2 of 5
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question I think these are some healthy foods:
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS3bq2/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="3b" hidden)
      input(type="text" name="questionTitle" value="S3bQ2" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q2" hidden)
      input(type="text" name="questionText" value="I think these are some healthy foods:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 2 of 5")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br

