block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Peer Training 
    h2 Health Risk, Screening, and Shared Decision-Making (S7d)
    h3 SHARED DECISION MAKING
    h3 PREPARING FOR YOUR DOCTOR’S MEETING AND HEALTH TESTS
    p An important emerging concept in whole health self-management is “shared decision making.”  In the WHAM training, shared decision making is defined as “the collaboration of a medical  professional and recipient of whole health services to determine the treatment and self-management actions for maximizing whole health.” In this collaboration, both the medical professional and  recipient of whole health services should be valued as experts. The doctor may be an expert on  medications, tests, and treatment, but equally important is the recipient of whole health services who uses skills like person-centered planning and the eliciting of the Relaxation Response as an expert on self-management.
    p A good way to teach skills for shared decision making is through role playing, which can be introduced during this part of the training.