block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S4a)
    h3 The Power of Human Connections
    br
    p “Service to Others” and “Support Network” both have to do with human connections. Dr. Gregory Fricchonine, director of the Benson-Henry Institute for Mind-Body Medicine at Massachusetts General Hospital, speaks of these two being one – or the flip side of the same coin. He states that humans need connectedness to survive. This connectedness is at the core of why peer support and self-help are so effective, proving essential to recovery from trauma, especially trauma associated with abuse and neglect that can result in fear and isolation.
    p There is a healing in knowing you are not alone.
    p Many people talk about this as part of their recovery story.
    p Dr. Dean Ornish is a cardiologist who places great importance on the healing power of loving relationships. In his book, Love and Intimacy, he states, “Anything that promotes feelings of love and intimacy is healing; anything that promotes isolation, separation, loneliness, loss, hostility, anger, cynicism, depression, alienation and related feelings often leads to suffering, disease, and premature death from all cause.
    p “When you feel loved, nurtured, cared for, supported and intimate, you are much more likely to be happier and healthier. You have a much lower risk of getting sick and, if you do, a much greater chance of surviving.
    p In his book, Dr. Ornish references research that shows people with the strongest social ties had dramatically lower rates of disease and premature death than those who felt isolated and alone, and those who lacked regular participation in organized social groups had a four fold increased risk of dying six months after open heart surgery.
    p Living in isolation not only increase wear and tear at the cellular level but also is a highway to super stress. Everyone needs a supportive person or two with whom to share good and bad times.
    p Being able to vent, cry, or just have someone listen is often enough to help put a stressful situation into perspective.
    p In fact, most scientific studies cite social support as the number one determinant of how people handle a stressful situation. In any surgical waiting room, there are usually several supportive “waiters” for every patient being operated on. Belonging to a community – whether it’s a “knitting circle, a sports league, cat fancier’s club, or a monthly dinner group with friends – is an important strategy to handle stress.
    p Support groups and service to others play a major role initiating and sustaining recovery in the lives of people with mental illness and addiction.