block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S3b)
    h3 Improving Your Health
    br
    p Usually diet, exercise, and sleep are the first things called to mind when considering health. In the WHAM training, these are referred to as “Healthy Eating.” “Physical Activity,” and “Restful Sleep.”
    br
    h3 Healthy Eating
    p Most people seem to know what foods are healthy – fruits, vegetables, chicken, fish, lean meat, whole grain breads, wild and brown rice, skim or 1% milk, etc. Baked and broiled foods are healthier than fried. People should drink a lot of water and less coffee and soft drinks. Small portions for breakfast, lunch and dinner with a snack in the morning and afternoon are healthier than three larger meals. Stay away from processed foods.
    p While not everyone may follow it, most know what a healthy diet looks like. The federal government has made it easier for Americans to remember – They released the “My Plate,” which is split into four sections for fruit, vegetables, grains, and protein; a smaller circle sits beside the plate for dairy products. You can access the My Plate at 
      a(href="#") www.ChooseMyPlate.gov
        span .