block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S9a)
    p Student Id: #{ student_id }
    br
    h3 Key 2
    h3 Weekly Action Plan
    br
    p Learning to create a 
      b weekly action plan 
      span that helps a person reach his or her whole health goal is crucial to success. The actions must be healthy and such that a person can engage in them multiple times a week.
      br
    h3 ACTION PLANS FOR GOALS THAT REQUIRE DEVELOPING A NEW BEHAVIOR, HABIT, OR LIFESTYLE
    p While the actions in the weekly action plan may vary from week to week, the actions need to relate to the set goal and consist of healthy behaviors that create a new discipline in one’s lifestyle. Remember, the action plan needs to be something that the person wants to do and can expect to do during the next week. The action plan needs to focus on what a person is creating that is new and is helping him or her move in the desired direction, not changing or eliminating what is “wrong.” Don’t focus on bad habits. That gives these habits power. Remember, whatever you focus your energies on, you give power to; therefore, focus on what you want to create, not on what you want to change. The action plan needs to focus on creating good habits, not getting rid of bad ones. If a person wants to create an action plan for eliminating certain things in his or her life, that is OK, but it is best to stay focused on the positive, what the person wants, and the person’s strengths. Also, it is helpful if the plan contains actions that the person is able to take multiple times during the week, in order to establish a new discipline in his or her life.