extends layout.pug 

block append section
  //- block append content

  link(rel="stylesheet" href="/assets/css/module.css")

  div.slideshow-container
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2a/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2aq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2b/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2c/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2cq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2cq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2cq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2cq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s2dr/" + id)
    div.mySlides  
      div
        iframe(src="/triage-main-challenge-modules-s3aq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3b/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3bq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3bq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3bq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3bq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3bq5/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3br/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3c/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3cq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3cq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3cq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3cq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3cr/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3d/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3dq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3dq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3dq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3dq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3dq5/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s3dr/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4a/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4aq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4bq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4bq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4bq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4bq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4br/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4cq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4cq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4cq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4cq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4cq5/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s4cr/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5a/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5aq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5bq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5bq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5bq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5bq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5br/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5c/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5cq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5cq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s5cr/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6a/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6aq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6aq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6bq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6bq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6bq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6bq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6br/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6cq1/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6cq2/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6cq3/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6cq4/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6cq5/" + id)
    div.mySlides
      div
        iframe(src="/triage-main-challenge-modules-s6cr/" + id)

    a.prev.moduleArrow(onclick="plusSlides(-1)") &#10094
    a.next.moduleArrow(onclick="plusSlides(1)") &#10095

  br
  div(style="text-align:center")
    span.dot(onclick="currentSlide(1)") 
    span.dot(onclick="currentSlide(2)") 
    span.dot(onclick="currentSlide(3)") 
    span.dot(onclick="currentSlide(4)") 
    span.dot(onclick="currentSlide(5)") 
    span.dot(onclick="currentSlide(6)") 
    span.dot(onclick="currentSlide(7)") 
    span.dot(onclick="currentSlide(8)") 
    span.dot(onclick="currentSlide(9)") 
    span.dot(onclick="currentSlide(10)")  
  br

  div(style="text-align:center")
    span.dot(onclick="currentSlide(11)") 
    span.dot(onclick="currentSlide(12)") 
    span.dot(onclick="currentSlide(13)") 
    span.dot(onclick="currentSlide(14)") 
    span.dot(onclick="currentSlide(15)") 
    span.dot(onclick="currentSlide(16)") 
    span.dot(onclick="currentSlide(17)") 
    span.dot(onclick="currentSlide(18)") 
    span.dot(onclick="currentSlide(19)") 
    span.dot(onclick="currentSlide(20)")  
  br

  div(style="text-align:center")
    span.dot(onclick="currentSlide(21)") 
    span.dot(onclick="currentSlide(22)") 
    span.dot(onclick="currentSlide(23)") 
    span.dot(onclick="currentSlide(24)") 
    span.dot(onclick="currentSlide(25)") 
    span.dot(onclick="currentSlide(26)") 
    span.dot(onclick="currentSlide(27)") 
    span.dot(onclick="currentSlide(28)") 
    span.dot(onclick="currentSlide(29)") 
    span.dot(onclick="currentSlide(30)")  
  br

  div(style="text-align:center")
    span.dot(onclick="currentSlide(31)") 
    span.dot(onclick="currentSlide(32)") 
    span.dot(onclick="currentSlide(33)") 
    span.dot(onclick="currentSlide(34)") 
    span.dot(onclick="currentSlide(35)") 
    span.dot(onclick="currentSlide(36)") 
    span.dot(onclick="currentSlide(37)") 
    span.dot(onclick="currentSlide(38)") 
    span.dot(onclick="currentSlide(39)") 
    span.dot(onclick="currentSlide(40)")  
  br

  div(style="text-align:center")
    span.dot(onclick="currentSlide(41)") 
    span.dot(onclick="currentSlide(42)") 
    span.dot(onclick="currentSlide(43)") 
    span.dot(onclick="currentSlide(44)") 
    span.dot(onclick="currentSlide(45)") 
    span.dot(onclick="currentSlide(46)") 
    span.dot(onclick="currentSlide(47)") 
    span.dot(onclick="currentSlide(48)") 
    span.dot(onclick="currentSlide(49)") 
    span.dot(onclick="currentSlide(50)")  
  br

  div(style="text-align:center")
    span.dot(onclick="currentSlide(51)") 
    span.dot(onclick="currentSlide(52)") 
    span.dot(onclick="currentSlide(53)") 
    span.dot(onclick="currentSlide(54)") 
    span.dot(onclick="currentSlide(55)") 
    span.dot(onclick="currentSlide(56)") 
    span.dot(onclick="currentSlide(57)") 
    span.dot(onclick="currentSlide(58)") 
    span.dot(onclick="currentSlide(59)") 
    span.dot(onclick="currentSlide(60)")  
  br

  div(style="text-align:center")
    span.dot(onclick="currentSlide(61)") 
    span.dot(onclick="currentSlide(62)") 
    span.dot(onclick="currentSlide(63)") 
    span.dot(onclick="currentSlide(64)") 
    span.dot(onclick="currentSlide(65)") 
    span.dot(onclick="currentSlide(66)") 
    span.dot(onclick="currentSlide(67)")
    span.dot(onclick="currentSlide(68)")
    span.dot(onclick="currentSlide(69)")

  script(src="/assets/javascript/modules.js")