block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S5c)
    h3 Maintaining a Positive Attitude
    br
    h3 Cognitive Skills to Avoid Negative Thinking
    p 
      b Negative self-talk is a problem for many people, this session teaches a skill to combat it.
    p 
      b Carol’S Story
    p Carol awoke and realized she had overslept. “Oh no! I am going be late for work! I said I wanted to get up every morning and go for a walk. I should have known that I wasn’t serious. I always have great plans, but I never follow through. When am I going to grow up and start taking some responsibility for my life? I am such a failure!” 
    p As Carol went to the kitchen, she caught a glimpse of herself in the hall mirror. “I shouldn’t wear this skirt. It is too tight. If I bend over, I will burst the seams. I have really put on a lot of weight lately. I am so fat and ugly.” 
    p As Carol was opening the door of the refrigerator, she said to herself, “What am I doing? I shouldn’t eat breakfast. I really need to skip a few meals; then my clothes may fit a little better. I probably need to not eat for a week! No, I’ve changed my mind. Why don’t I eat everything in the fridge? I am a great example of a person who doesn’t care how fat and ugly she gets. I am really hopeless.” 
    p Carol left the house almost in tears. She got on the bus for work. When she sat in her seat she looked at her reflection in the window. She realized that she had forgotten to comb her hair. “My hair looks horrible. I am so ugly. I ought to shave my head and wear a wig. Nobody could ever like a person who looks like me!” 
    p When Carol got to work she remembered that she had not finished a report that was due that day. As she sat at her computer and got to work, her boss walked by. Carol said to herself, “He is going to think that I just started working on this report, and it is due today. He won’t expect it to be very good. I am sure that he will give it to someone more capable to rewrite. I am probably not going to have this job much longer. He will probably fire me soon. What will I do then? I am a fat, ugly failure that no one could ever like. I wish I was dead!”
    p 
      b Reflection on Carol’s Story
    p Something usually occurs to prompt our negative self-talk. There are four events that “jump-started” Carol’s self-talk that turned negative: she overslept; she saw in the mirror that her skirt was tight; she forgot to comb her hair; she had not finished a report that was due that day. Each time her self-talk quickly moved from stating the fact(s) to telling herself a story that was not based on facts. “I over slept, I am such a failure.” “My skirt is too tight. I am so fat and ugly.” “I forgot to comb my hair. Nobody could ever like a person who looks like me.” “I haven’t finished the report. I will be fired soon.”
    p 
      b In each paragraph, when does her self-talk shift from fact to story?
    p 
      b Catch it! Check it! Change it!
    p Everyone has negative thoughts and engages in negative self-talk. That is not the problem. The problem is when it spirals downward and people end up defining themselves in absolute and permanent negative language. 
    p These three steps help alter attitudes:
    ol
      li Catch it early on. This involves knowing when thoughts are moving from fact to story.
      li Check it over against what is actually going on — stick with the facts.
      li Change it to more appropriately reflect reality.
    ul
      li Where could Carol have caught her self-talk moving from fact to story?
      li How could she have checked her self-talk so that it was more based on facts?
      li What could she have changed in regard to her self-talk so that it more appropriately reflected the reality of her situation?
      li If she had done this, how might her day have been different?
    p In mental illness and addiction, changing one’s thoughts is considered crucial to successful strength-based recovery and is the basis for one of the most used evidence-based therapies — Cognitive Behavioral Therapy.