block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2

    h2 TriAge Challenge Education (S2aQ1)
    h3 Science of Stress
    p Student Id: #{ student_id }
    br
    h4 Question 1 of 1
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question How has or does stress impact your mental health, addiction, and overall health and wellness?
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS2aq1/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="2a" hidden)
      input(type="text" name="questionTitle" value="S2aQ1" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q1" hidden)
      input(type="text" name="questionText" value="How has or does stress impact your mental health, addiction, and overall health and wellness?" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 1 of 1")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br