block append section
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Peer Training
    h2 Health Risk, Screening, and Shared Decision-Making (S7b)
    h3 Health Risk Screening
    p To better understand Health Risk Screenings let’s first define a medical term know as Metabolic Syndrome. The National Cholesterol Education Program Adult Treatment Panel defines Metabolic Syndrome as the presence of three or more of the following health risk indicators:
    ul
      li High blood pressure
      li Abnormally low “good” cholesterol (HDL)
      li Elevated triglycerides (fatty acid)
      li High blood sugar
      li Abdominal visceral fat (waist circumference)
    p Each of the indicators above adds some risk for disease. The more the indicators experienced by an individual, the higher the risk for developing type II diabetes and cardiovascular disease. The following are the screenings for the risk indicators above:
    p 
      b High blood pressure (hypertension)
      p is the measurement of the increased blood pressure against the walls of the blood vessels as blood flows through the body. Resistance to the blood flow that increases blood pressure could result from rigid vessels, narrowed vessels, vessels blocked with fatty plaque (cholesterol), or other serious cardiovascular problems. If blood pressure remains high, it can lead to heart attack, stroke (brain attack), kidney failure, heart failure, or blindness. You can have high blood pressure and not know it, which is why it is important to track your blood pressure. A simple blood pressure measuring device is a cuff that inflates with a pressure gauge. Blood pressure is given in two numbers. The top number is your systolic pressure, which is the force of blood on your blood vessels when your heart beats, and the bottom number is your diastolic pressure, which is the force of blood as your heart relaxes between beats.

    p CATEGORIES FOR BLOOD PRESSURE LEVELS IN ADULTS (measured in millimeters of mercury)

    div#table
      table(style="width: 400")
        tr
        th Category
        th Systolic (top number)
        th Diastolic (bottom number)
        tr
        th Normal
        th Less than 120
        th Less than 80    
        tr
        td Pre-hypertension
        td 120–139
        td 80–89
        tr
        td High blood pressure
        tr
        td Stage 1
        td 140–159
        td 90–99
        tr
        td Stage 2
        td 160 or higher
        td 100 or higher
    
    p If your blood pressure is high it’s a good idea to talk to your doctor. High blood pressure can often be self-managed with healthy eating, physical activity, weight loss, reducing salt, and taking medication.
    p 
      b Cholesterols
      p are fatty chemicals that help with lar, hormone, and other body processes. When cholesterols are increased beyond normal ranges, they initiate and support diseases such as heart disease, diabetes, and stroke.  High-density lipoprotein (HDL) or “good” cholesterol removes excessive low-density lipoprotein (LDL) or “bad” cholesterol from the blood steam. If the HDL is low, then there is not enough to carry away the excess of fatty deposits in the blood vessels. This can restrict blood flow. Screening for the entire cholesterol profile can be done in the doctor’s office, clinic, or lab. A blood drop can be examined quickly by a medical professional on a machine with results available in 5 minutes. One advantage to this sort of screening is that results are available immediately. The usual procedure is to take a blood sample from your arm — usually after fasting overnight — after which the sample is sent to a lab for analysis. A follow-up appointment with a medical professional is usually made for interpretation of the lab analysis, or the results may be provided by phone or mail. Screening for cholesterol is done as a lipid (fat) profile, which checks total cholesterol, high and low cholesterol, triglycerides, and a HDL risk factor. Desirable ranges are:
    ul
      li Total cholesterol ow 200 mg/dl
      li Triglycerides = below 150 mg/dl
      li HDL (good) = above 60
      li LDL (bad) = 100 mg/dl or below
      li HDL risk factor = average risk factor is 3.4
    p 
      b High Blood Glucose
      p is also another important risk factor people can self monitor to prevent or manage diabetes. Blood glucose is the amount of sugar in the blood at the time of testing. Normal range is 80-100 mg.
    p Screening can be done by a finger-stick blood drop measured by glucometer. To diagnose or manage diabetes, a medical professional orders a lab test called a 
      b Glucose Tolerance Test
      span , which is usually administered in a doctor’s office, clinic, or hospital after 8 hours of fasting.
    p Another blood test used to manage diabetes is called 
      b Hemoglobin A1c 
      span , which determines how well diabetes is being managed over a 3-month period. This test can also be done in a doctor’s office or clinic with a blood-stick blood drop, which can be analyzed in 5 minutes by a machine, or by having blood drawn from your arm that is then sent to a lab for analysis. A1c Test standards are:
    ul
      li Normal range for the est is between 4% and 6%
      li Over 6% means that a person has  poor blood sugar regulation
      li The goal for a person with diabetes  is to be below 7% 
        li The higher the A1c level, the greater the risk of developing complications of diabetes
    h4 OTHER HEALTH RISK SCREENINGS
    p 
      b HIV Test 
      span for human immune deficiency virus is a blood screening for the precursor of AIDS. HIV weakens the body’s natural defense system against illness. AIDS is the last stage of HIV infection. Blood can be drawn at the doctor’s office or clinic, or at the Public Health Department. The blood is then sent to a lab for analysis, after which a medical professional will discuss with an individual the results and any necessary follow-up. The blood tests will be either positive or negative. HIV positive can be treated and managed successfully without ever manifesting AIDS. This virus can be given to another individual through blood contamination from unprotected sex, sharing needles, and other contact with blood.
    p 
      b Hepatitis C Test 
      span is a blood screening for a se of the liver. The blood is usually drawn from the arm at a doctor’s office or clinic, or at the Public Health Department. The blood is sent to a lab for analysis, after which a medical professional will discuss the results and any necessary follow-up. The blood tests will be either positive or negative. Hepatitis can be treated and managed successfully.