block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S2a)
    h3 Science of Stress
    br
    p Stress is pervasive in American society. It is estimated that 60-80% of visits to healthcare providers in the USA are related to stress and its manifestations. The prevention and treatment of the harmful effects of stress is a vital feature of health integration.
    br
    h4 The body converts psychological stress into cellular stress.
      br
      p This adversely affects the physical make-up of cells. 
      br
      p Cellular stress is what uncovers our disease vulnerabilities.
    p Rosalynn Carter states in Within Our Body, “When a person is under severe stress, the brain has to work very hard to maintain normal blood pressure, heart rate, and temperature, among other things… If a person experiences multiple, continuous stressors, he starts losing the battle. If the stress remains overwhelming or persistent, it will take its toll on a person’s health — either physically, mentally, or both.”
    p It is important to note that stressors occur in many ways across the spectrum of a person’s life, but there is growing awareness of the particular impact of trauma, on all dimensions of whole health.
    p Not only does stress lead to physical illness, but prolonged stress often precipitates relapse for persons with mental illnesses and addictions. The ability to reduce and/or counter the negative impact of stress is important for relapse prevention.
            