block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    br
    h2 GLOSSARY (S10c)
    p Student Id: #{ student_id }
    br
    p
      b Abdomen: 
      span The part of the body between the chest and pelvis. 
    p
      b Abnormal: 
      span Test results or system functioning outside the range of what is typically expected. Abnormally high glucose: Blood sugar levels at higher-than recommended ranges, which do not meet the diagnostic criteria for diabetes. Often called pre-diabetes, implying that they represent a trend which, if not stopped, will lead to diabetes.
    p
      b Adrenaline (or epinephrine): 
      span A hormone (a chemical in the body) secreted by the adrenal gland. It is part of the “fight-or-flight” response.
    p
      b Ancestors: 
      span Parents, grandparents, etc.  
    p
      b Behavioral health services: 
      span Services that help to treat mental illnesses and addiction disorders.  
    p
      b Blood pressure: 
      span How hard blood pushes against the walls of blood vessels as the blood flows through the body.
    p
      b Blood sugar level: 
      span The amount (or fraction) of a person’s blood circulating in his/her veins and arteries that is glucose, the form of sugar carried in the human bloodstream. It is normally expressed in milligrams/deciliter (mg/dL).
    p
      b Blood glucose: 
      span The simple sugar carried in the human bloodstream.
    p
      b Billable service: 
      span Any service provided that can be billed to the party paying for it, whether the person, his or her insurer, or a government program.
    p
      b Brain waves: 
      span A measurable electrical activity of the brain.
    p
      b Carbohydrate consumption/reduction: 
      span Carbohydrates (CHOs) are those foods rich in either complex carbohydrates (starches) or simple carbohydrates (sugars). High CHO intake can lead to middle body weight gain and challenges glucose and insulin regulation in the body. Many people may modify their diets to reduce total carbohydrates.
    p
      b Cardiovascular disease: 
      span Any of a variety of illnesses of the heart and its surrounding organs. May include aortic aneurysms, heart failure, heart attack, and electrical disturbances of heart rhythms.
    p
      b Cellular level: 
      span The cell is the basic building block of all animal and plant life. It is the smallest level of matter that can be called “life.” Most basic processes in plants and animals — converting food to energy, transferring oxygen to the bloodstream, generating new cells, etc., take place at the cellular level.
    p
      b Cellular stress: 
      span A set of challenges to the continued viability of a cell resulting from oxidation issues.
    p
      b Cognitive skills: 
      span Basic brain skills needed to remember, calculate, make logical connections, and carry out other functions for daily living activities.
    p
      b Consciously: 
      span Thoughts or actions taken with awareness of what they are and their impact or outcome.
    p
      b Cortisol: 
      span A hormone produced by the adrenal gland, released in response to stress.
    p
      b Depression: 
      span A mood in which a person feels significant negativity, or a family of mental health disorders, defined by the Diagnostic and Statistical Manual of Mental Disorders (DSM), involving an extended period of depressed mood.
    p
      b Determinant: 
      span Any one factor that has an impact on an outcome.
    p
      b Diabetes: 
      span A condition where the pancreas does not put out a sufficient amount of the hormone insulin, or where other physiologic processes result in the body’s inability to produce  sufficient insulin or otherwise maintain its blood sugar levels.
    p
      b Diastolic: 
      span The blood pressure measured at the point of lowest compression.
    p
      b Disease vulnerability: 
      span Any process or condition that increases the chance a person may develop a disease, or of a disease having a more harmful or negative course in that person. Factors include overall health, immune health, hygiene factors, and hereditary or genetic factors.
    p
      b Disorders: 
      span Any condition of the body where an organ or process is not operating properly.
    p
      b Elevated blood fats: 
      span The body uses various lipids (kinds of fat molecules) in the bloodstream to carry out needed normal circulation and functioning. Some of these must be kept at or below a certain density (number of molecules per milliliter of blood)  to avoid raising the risk of stroke or other heart disease.
    p
      b Elevated sugar: 
      span The blood sugar level in a human who has not eaten for at least 4 hours should be between 85 and 110 mg/dL. Levels above this can be considered elevated (hyperglycemia), and may lead to a diagnosis of diabetes.
    p
      b Elevated triglycerides: 
      span Having a fraction of certain fatty acids in the bloodstream above recommended guidelines (150 mg/dL, measured after fasting at least 8 hours).
    p
      b Encompassing: 
      span Having within its range or scope. For instance, good oral self-care practices could include brushing, flossing, rinsing, watching your diet (especially avoiding sugary foods),  and scheduling hygiene appointments with a dentist.
    p
      b Engaging power: 
      span A strength of the coaching approach that includes engaging people to take and maintain positive steps toward their recovery.
    p
      b “Fight-or-flight” or “Stress Response: 
      span Quick responses to situations that threaten safety. Complex chemical and nervous system responses set in to cause people to be able to make a decision — fight or flee — and take action quickly.
    p
      b Finger sticks (sometimes called a finger prick): 
      span A way of collecting a small amount of blood by making a “pinprick” incision in the side of a finger using a lancet, and squeezing the finger as needed.
    p
      b Genetically susceptible: 
      span Genetics is the complex set of characteristics and traits every living creature inherits from ancestors. Some genes actually carry diseases. Others may carry susceptibility, so some combination of that gene and other environmental or behavioral factors will determine whether a person develops the disease.
    p
      b Hemoglobin A1c test: 
      span A blood test that checks if diabetes is under control. It is a blood test that gets sent to the laboratory, or can be done through an over-the-counter self test.
    p
      b High Density Lipoproteins (HDL): 
      span So-called “good” cholesterol in the bloodstream.
    p
      b Healing power: 
      span Any strengths that have the capacity to remedy disease. Strengths may include traditional medical care and medication, complementary and alternative therapies, positive thinking, self-will, human companionship, laughter, and more. Some people with strong faith consider their deity, prayer, or various holy objects to have healing powers.
    p
      b Health fairs and health screenings: 
      span Educational and interactive events that provide basic preventive medicine and medical screening to people in the community.
    p
      b Heart disease: 
      span Any of various health conditions that affect the functioning of the heart and its associated blood vessels.
    p
      b Hormone: 
      span A chemical sent out from a gland or cell in one part of the body that affects other body organs.
    p
      b Human connections: 
      span Relationships with other people — can be romantic, family, friendship, business relationships, or many others.
    p
      b Inflammation: 
      span Part of the operation of the immune system, including white blood cells, that fights infection in the body.
    p
      b Insulin: 
      span A hormone secreted by the pancreas that the body uses to process sugars in the bloodstream.
    p
      b Integrated primary health services: 
      span Integrating service delivery of primary, mental health, and addictions care by coordination, co-location, or in a ‘health home.’
    p
      b Impair digestion: 
      span Digestion is the process by which food is taken into the body, processed to extract nutrients, and then the remains are excreted as waste. A series of organs carries out digestion via the alimentary canal. Impaired digestion is a problem with one or more of these organs, which stops a person from digesting their food, or affects what foods they are able to eat.
    p
      b Kidney failure: 
      span The kidneys (human beings have two, but can function with one) are essential organs that filter waste from the bloodstream. Kidney failure is the inability of the kidneys to perform that function.
    p
      b Life-enhancing: 
      span Anything that can help a person improve personal satisfaction and/or well being.
    p
      b Lifesaving resources: 
      span Any assets needed to prevent loss of human life. The collection of hospitals, emergency departments, ambulances, blood banks, etc. may make up a community’s lifesaving resources.
    p
      b Low “good” cholesterol: 
      span Having a fraction of HDL in the bloodstream that is below recommended levels.
    p
      b Medicaid coverage: 
      span Medicaid is the United States health program for certain people and families with low incomes and resources. It is jointly funded by the state and federal governments, and is managed by the states. Medicaid pays for healthcare coverage for people with chronic health challenges who do not have other coverage and have limited financial resources. In some states, it also covers people with no chronic health challenges who do not have other coverage and have limited financial resources. Medicaid plans are the main payer for public mental health services. 
    p
      b Mental function: 
      span All of the processes that take place within our minds — the conscious area of our brains. Examples are perception, memory, creativity, imagination, emotion, and belief.
    p
      b Mercury: 
      span A metallic element, liquid at room temperature, which previously was used in thermometers and instruments for measuring pressure, such as barometers and blood pressure devices.
    p
      b Metabolic syndrome: 
      span A collection of health conditions that sometimes occur together — abdominal obesity, high body mass index, high blood pressure, and diabetes.
    p
      b Metabolism: 
      span The set of chemical reactions that take place in the  body to sustain life.
    p
      b Metastatic breast cancer: 
      span Cancer is a health condition involving  the uncontrolled growth of cells in one or more parts of the body. Metastatic breast cancer is a cancer that starts in the breast, and spreads (metastasizes) to other parts of the body.
    p
      b Millimeter: 
      span A unit of measure, approximately equal to 1/25 of an inch.
    p
      b Mind-body resiliency factors for prevention: 
      span That set of factors  that help an individual ward off disease and illness and the  negative aspects of physical and emotional stress.
    p
      b mmHg: 
      span Millimeters of Mercury, a measurement of pressure in a barometer, blood pressure instrument, or similar device. This is still  the unit for pressure, even in devices which do not actually use a tube of mercury.
    p
      b Normal range: 
      span The results of a test that are between recommended high and low values.
    p
      b Negative impact stress response: 
      span When the body and brain respond to stressful situations, they take away attention and resources from less critical factors. Difficulty digesting food, or reduced sexual response, may be examples of negative impact stress response.
    p
      b Negative Thinking/Pessimistic: 
      span Thinking based on the expectation that desired outcomes are not going to happen or are more likely not to happen. Negative self-talk is reminding oneself of these negative thoughts/expectations.
    p
      b Noradrenalin (or norepinephrine): 
      span A hormone (a chemical in the body) primarily secreted by the adrenal gland. Noradrenalin also serves as a neurotransmitter (a chemical in the brain used to  “talk” between cells). It is part of the “fight or flight” response.
    p
      b Nonessential organs: 
      span Systems of cells in the body that may or may not carry out a function, but that the body can function without if needed. An example is the spleen.
    p
      b Nurtured: 
      span The sense of being cared for in an unconditional fashion, such as most people (and animals) do for their infants.
    p
      b Nutrients: 
      span Substances taken in by the body that are needed for cells to function well and repair themselves.
    p
      b Normal cell regeneration: 
      span The cell is the smallest basic building block of every living organism. Human cells are organized into organs (collections of cells to carry out a specific purpose), and many organs have multiple specialized types of cells. As cells die, there is a  physiologic process for new ones to be created or “regenerated.”
    p
      b Optimism based on positive expectations: 
      span Thinking based on  expectations for good outcomes — the expectation that good things are going to happen or are more likely to happen.
    p
      b Peer support: 
      span All of the ways in which a person gets help from  someone who is like them, whether friend, trained peer worker, fellow  support group member, or other — as opposed to professional support, where the person helping them is doing so on the basis of a formal credentialing and/or training. Peer support operates from knowing that the individual has shared a similar experience and can be a model for others willing to learn and grow. Peers come together with the intention of changing unhelpful patterns, getting out of  difficult places, and building relationships that are respectful.
    p
      b Person-centered planning: 
      span Delivery of medical, mental health, substance abuse, or rehabilitation services on an individualized (versus standardized) basis, with the person’s expressed wants, strengths, and needs serving as the basis for how services are delivered.
    p
      b Perspective: 
      span Your way of uniquely viewing people, places, and situations.
    p
      b Physical activity: 
      span Anything a person does to keep moving and exert themselves. Bodily movement produced by skeletal muscles that  requires energy expenditure. It includes both intentional exercise (when you exercise for your health), and normal activity as you work, take care of your home and family, etc.
    p
      b Physical inactivity: 
      span Low levels of moving around. Low levels of energy expenditure. Fourth leading risk factor for early death according to the World Health Organization.
    p
      b Pre-hypertension: 
      span Blood pressure in either the systolic or diastolic measurement that is higher than recommended ranges, but not so high that it creates significant risk.
    p
      b Premature death: 
      span A life that ends younger than otherwise might be expected.
    p
      b Psychosocial treatment: 
      span Services or treatments other than  medication that can help a person pursue recovery. These could include psychotherapy, employment and other rehabilitation services, peer support services, or specialized services that may be aimed at helping a person live successfully in the community, pursue education, employment or other valued goals, or fulfill valued life roles.
    p
      b Psychological: 
      span Of or related to the mind including thoughts, thought processes, and emotions.
    p
      b Primary care provider settings: 
      span Offices and clinics where people get medical care from a primary care or internal medicine physician, nurse practitioner, or physician assistant.
    p
      b Psychological stress: 
      span The mind’s inability to cope with a challenge of some kind. Typical sources are conflict, frustration, pressure, loss, and threat.
    p
      b Relapse: 
      span Any re-occurrence or rise in symptoms. A person can have a relapse of poison ivy due to insufficient cleaning of linens that came in contact with their previous skin outbreak or a relapse of migraine headaches due to a lot of stress. Relapse of symptoms can occur for people living with mental illnesses and addictions.
    p
      b Restful sleep: 
      span Sleep that gives our bodies and brains the chance to relax and rebuild.
    p
      b Self-testing: 
      span Health measurement (e.g., weighing yourself every week), and tests that can be done at home using specialized equipment or chemical setups that otherwise would be done in a healthcare setting/clinical laboratory. Examples include blood glucose monitoring, lipid profiles, home blood pressure monitoring, and many others.
    p
      b Strength-based: 
      span Moving away from seeing a person as a set of problems, deficits, or challenges that need to be ‘fixed,’ to recognizing talents, skills and supports which he or she uses — with or without professional assistance — to lead a full and satisfying life.
    p
      b Stroke: 
      span Occurs when a clot blocks the blood supply to part of the  brain or when a blood vessel in or around the brain bursts. Causes parts of the brain to become damaged or die. Sometimes called a brain attack.
    p
      b Substance use conditions: 
      span Health conditions where a person’s life (social relationships, ability to fulfill responsibilities as a worker,  family member, etc.) may be negatively impacted by use of drugs, illegal substances, and/or alcohol.
    p
      b Support network: 
      span People a person can rely on for support,  companionship, and to help deal with life challenges. Can include “natural supports” such as friends, family, peers, co-workers, and church members, and “paid supports” such as peer specialists, job coaches, personal trainers, therapists, doctors, etc.
    p
      b Systolic: 
      span The blood pressure measured at the point of highest compression.
    p
      b Vent: 
      span The opportunity to share feelings and emotions.
    p
      b Visceral fat: 
      span Fat in the body inside the abdominal cavity packed around the stomach intestines, kidneys, and liver.
    p
      b Vital organs: 
      span Collections of cells in the body that carry out a function that is essential and cannot be taken over by another organ.
    p
      b Weakened immune system: 
      span The immune system is a complex set of organs and chemical processes that protect the body from disease, poison, and the after-effects of injury. Various diseases can weaken the immune system and make a person more susceptible to disease.
    p
      b Weakened immune system: 
      span The immune system is a complex set of organs and chemical processes that protect the body from disease, poison, and the after-effects of injury. Various diseases can weaken the immune system and make a person more susceptible to disease.