block append section
  link(rel="stylesheet" href="/assets/css/module_content.css") 
  section.container-2
    h2 TriAge Peer Training
    h2 Keys to Success (S8aQ2)
    p Student Id: #{ student_id }
    br
    h3 Key 1
    br
    h4 Question 2 of 2
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question I could use these strengths to improve my health and resiliency: 
    br
    p#answer Answer below:
    form(action="/secureMainPeerTrainingModulesS8aq2/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Peer Training" hidden)
      input(type="text" name="questionModule" value="8a" hidden)
      input(type="text" name="questionTitle" value="S8aQ2" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q2" hidden)
      input(type="text" name="questionText" value="I could use these strengths to improve my health and resiliency: " hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 2 of 2")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br