block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S6cQ5)
    h3 Connecting With that Which Is More than Self
    p Student Id: #{ student_id }
    br
    h3 A Sense of Meaning and Purpose Questions
    br
    h4 Question 5 of 5
      //- span#timerDisplay Time remaining: #{ timer }
    br
    p#question Here is a list of 3-5 things I might start doing on a regular basis to create more meaning and purpose in my life:
    br
    p#answer Answer below:
    form(action="/secureMainChallengeModulesS6cq5/" + id method="post")
      input(type="text" name="student_id" value=student_id hidden)
      input(type="text" name="answerDate" hidden)
      input(type="text" name="questionGroupModule" value="Challenge" hidden)
      input(type="text" name="questionModule" value="6c" hidden)
      input(type="text" name="questionTitle" value="S6cQ5" hidden)
      input(type="text" name="answerTime" hidden)
      input(type="text" name="questionNumber" value="Q5" hidden)
      input(type="text" name="questionText" value="Here is a list of 3-5 things I might start doing on a regular basis to create more meaning and purpose in my life:" hidden)
      input.answerArea(type="textarea" name="answerText" placeholder="Answer 5 of 5")
      br
      button.btn.btn-primary.btn-lg.btn-module(type="submit") Submit
    br