block append section 
  link(rel="stylesheet" href="/assets/css/module_content.css")
  section.container-2
    h2 TriAge Challenge Education (S2c)
    h3 Science of Stress
    br
    h3 The Relaxation Response
    p The Relaxation Response is a state of deep rest that changes the physical and emotional response to stress and decreases heart rate, blood pressure, rate of breathing, and muscle tension. When the Relaxation Response is elicited:
    ul
      li Metabolism decreases
      li Breathing slows down
      li Heartbeat slows down
      li Blood pressure decreases
      li Blood vessels open-up
      li Stress hormones decrease
    p If practiced regularly, it can have lasting effects.
    p The founder of the Benson-Henry Institute (BHI) is Dr. Herbert Benson, a Harvard Medical School trained cardiologist. His work, started in the late 1960’s, pioneered mind-body medicine by linking stress to physical health after observing that his patients had elevated blood pressure during regular check-ups. Dr. Benson’s research found that by changing thought patterns, subjects experienced decreases in their metabolism, rate of breathing and heart rate, and had slower brain waves. These changes appeared to be the opposite of the commonly known “flight-or-flight” or “stress response.” Dr. Benson labeled it the “Relaxation response,” which is the foundation of mind-body medicine practiced at BHI.
    h3 HOW DOES ONE ELICIT THE RELAXATION RESPONSE?
    p To elicit the Relaxation Response, there are to essential steps:
    ul
      li Repetition of a word, sound, phrase, or muscular activity
      li Passive disregard of everyday thoughts that inevitably come to mind and a return to repetition. 