extends layout.pug 

block append content 

  div.container-fluid

    div.jumbotron

      h1.display-4 Welcome to YOUR TriAge Peer Training
      
      if loggedIn 
        h2 Hello #{ name }
        
      p.lead Continue your path towards the TriAge Peer Support Specialist certification.
      hr.my-4

      p.
        Person-Centered Planning Process part two of two. These modules offer an important continuation of Whole Health and Resiliency Factors for you. Complete these modules to start your path toward becoming a certified TriAge Volunteer.
      
      div
        button.btn.btn-primary.btn-lg#home-btn(type="button" onclick="window.location = '/my-training'") Peer Training Modules
